.main {
  margin: 0;
  padding: 0;

  .homePage {
    background-image: url("../../../public/images/background-image-home.jpg");
    background-size: cover;
    // background-position: 0 -100px;
    background-repeat: no-repeat;
    // background: rgb(0, 212, 255);
    //   background: linear-gradient(130deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 65%, rgba(2, 0, 36, 1) 100%);
    height: 100vh;
    position: relative;

    .cardHolder {
      height: 100vh;
      overflow: auto;

      .iconBtnAuth {
        margin-top: 10px;
        width: 450px;
        height: 50px;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;

        .titleCard {
          .iconApp {
            filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.5));
            margin: -10px 0 0 15px;
            width: 170px;
          }

          .btnLoginRegister {
            margin: 7px 0 0 0;
            width: 170px;

            .btnLogin {
              width: 75px;
              height: 34px;
              font-size: 14px;
              border-radius: 12px;
              margin-left: -5px;
              border-color: #03e9f4;
              color: #03e9f4;
            }

            .btnLogin:hover {
              background-color: #03e9f4;
              color: black;
            }

            .btnRegister {
              width: 75px;
              height: 34px;
              font-size: 14px;
              border-radius: 12px;
              margin-left: 8px;
              border-color: #03e9f4;
              color: black;
              background-color: #03e9f4;
            }

            .btnRegister:hover {
              background-color: transparent;
              color: #03e9f4;
            }
          }
        }
      }

      .cardLinkPocket {
        margin-top: 2.5%;
        width: 450px;
        height: 87%;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 25px;

        .profileCard {
          margin-bottom: 28px;

          .photoProfile {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border: 2px solid #03e9f4;
            border-radius: 15px;
          }

          .username {
            color: #03e9f4;
            margin-top: -5px;
            margin-bottom: 3px;
          }

          .desc {
            color: white;
            font-size: 15px;
            margin-bottom: 9px;
          }

          .btnShare {
            background-color: transparent;
            border-color: #03e9f4;
            color: #03e9f4;
            font-size: 13px;
            height: 33px;
            border-radius: 12px;
          }

          .btnShare:hover {
            background-color: #03e9f4;
            border-color: #03e9f4;
            color: rgb(51, 45, 45);
          }
        }

        .linkSection {
          height: 57vh;
          overflow: auto;
          // border-radius: 20px;
          // background-color: red;

          .linkStick {
            background-color: #00d3df;
            border-color: #00d3df;
            border-radius: 30px;
            color: rgb(51, 45, 45);
            font-size: 16px;
            font-weight: 600;
            font-family: 'Courier New', Courier, monospace;
            height: 38px;
            margin-bottom: 8px;
          }

          .linkStick:hover {
            background-color: #02c0ca;
            border-color: #02c0ca;
          }
        }
      }
    }
  }
}