.main {
  padding: 0;
  margin: 0;

  .setup {
    background-image: url("../../../public/images/background-imgae-auth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

    .setUpSide {
      height: 100vh;
      overflow: auto;

      .iconApp {
        filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.6));
        margin-bottom: -10px;
      }

      @media screen and (max-width:600px) {
        .iconApp {
          margin: auto;
        }
      }

      .Title {
        font-size: 50px;
        font-weight: bold;
      }

      @media screen and (max-width:600px) {
        .Title {
          font-size: 45px;
        }
      }

      .subTitle {
        font-size: 20px;
        width: max-content;
        font-weight: 500;
        color: white;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 5px;
        padding: 5px 10px;
      }

      @media screen and (max-width:600px) {
        .subTitle {
          width: 100%;
          font-size: 18px;
          text-align: center;
        }
      }

      // PHOTO PROFILE AND NAME OR TITLE
      .cardSetUp {
        width: 400px;
        // height: 472px;
        height: max-content;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.28), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 15px;

        .addPhotoProfile {
          width: 100%;
          height: 90%;
          object-fit: cover;
          border: 2px solid #03e9f4;
          border-radius: 15px;
        }

        @media screen and (max-width:600px) {
          .addPhotoProfile {
            width: 100%;
            height: 85%;
          }
        }

        .rulesPhoto {
          margin: auto;
          font-size: 12px;
          margin-top: 5px;
          margin-left: 2px;
          color: white;
          font-weight: 100;
          // letter-spacing: 1px;
          line-height: 15px;
        }

        @media screen and (max-width:600px) {
          .rulesPhoto {
            font-size: 60%;
          }
        }

        input {
          width: 95%;
          padding: 0px 0 5px 0;
          font-size: 16px;
          color: #fff;
          border: none;
          border-bottom: 1px solid #fff;
          outline: none;
          background: transparent;
        }
        
        label {
          font-size: 16px;
          color: #fff;
          pointer-events: none;
          color: #03e9f4;
        }
      
        input:focus {
          top: -20px;
          left: 0;
          color: white;
          font-size: 16px;
          border-bottom: 1px solid #03e9f4;
        }

        .rulesForm {
          font-size: 12px;
          margin-top: 3px;
          color: white;
          font-weight: 100;
          letter-spacing: 1px;
        }

        @media screen and (max-width:600px) {
          .rulesForm {
            font-size: 10px;
          }
        }

        .btnNext {
          position: relative;
          display: inline-block;
          padding: 2px 7px;
          color: #03e9f4;
          font-size: 14px;
          text-decoration: none;
          overflow: hidden;
          letter-spacing: 2px;
          background-color: transparent;
          border: 1px solid #03e9f4;
          box-shadow: none;
          border-radius: 5px;
          margin-right: 10px;
        }

        .btnNext:hover {
          background: #03e9f4;
          color: #000000;
        }
      }

      // DESC PAGE
      .cardSetUpDesc {
        width: 400px;
        // height: 472px;
        height: max-content;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.28), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 15px;

        .addPhotoProfile {
          width: 100%;
          height: 80%;
          object-fit: cover;
          border: 2px solid #03e9f4;
          border-radius: 15px;
          margin-bottom: 30px;
        }

        @media screen and (max-width:600px) {
          .addPhotoProfile {
            width: 100%;
            height: 70%;
            margin-bottom: 45px;
          }
        }

        label {
          font-size: 16px;
          color: #fff;
          pointer-events: none;
          color: #03e9f4;
        }

        @media screen and (max-width:600px) {
          label {
            font-size: 14px;
          }
        }

        // textarea {
        //   width: 95%;
        //   height: 80px;
        //   resize: none;
        //   font-size: 16px;
        //   color: #fff;
        //   border: none;
        //   border-bottom: 1px solid #fff;
        //   outline: none;
        //   background: transparent;
        // }

        // textarea:focus {
        //   border-bottom: 1px solid #03e9f4;
        // }

        .rulesForm {
          font-size: 12px;
          margin-top: 2px;
          color: white;
          font-weight: 100;
          letter-spacing: 1px;
        }

        @media screen and (max-width:600px) {
          .rulesForm {
            font-size: 10px;
          }
        }

        .btnNext {
          padding: 2px 7px;
          color: #03e9f4;
          font-size: 14px;
          text-decoration: none;
          letter-spacing: 2px;
          background-color: transparent;
          border: 1px solid #03e9f4;
          box-shadow: none;
          border-radius: 5px;
          margin-right: 10px;
        }

        .btnNext:hover {
          background: #03e9f4;
          color: #000000;
        }
      }

      @media screen and (max-width:600px) {
        .cardSetUpDesc {
          height: max-content;
        }
      }

      // LIST FORM SOCMED
      .addListLinkPage {
        height: 100vh;

        .optionSide {
          margin: 0;

          .iconApp {
            filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.6));
            margin-bottom: -10px;
          }
        
          .Title {
            font-size: 50px;
            font-weight: bold;
          }

          @media screen and (max-width:600px) {
            .Title {
              font-size: 45px;
            }
          }

          .subTitle {
            font-size: 20px;
            width: max-content;
            font-weight: 500;
            color: white;
            background: linear-gradient(135deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 5px;
            padding: 5px 10px;
          }

          @media screen and (max-width:600px) {
            .subTitle {
              width: 100%;
              font-size: 18px;
              text-align: center;
            }
          }

          .cardOptionLink {
            width: 90%;
            // height: 472px;
            height: max-content;
            background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 15px;
            // padding-bottom: 50px;

            .titleCard {
              p {
                font-size: 16px;
                color: #000000;
                pointer-events: none;
                text-align: center;
              }

              @media screen and (max-width:600px) {
                p {
                  font-size: 14px;
                }
              }
            }

            .option {
              margin-bottom: 5px;
              .btnOption {
                color: #03e9f4;
                font-size: 13px;
                text-decoration: none;
                letter-spacing: 2px;
                background: linear-gradient(135deg, rgba(255, 255, 255, 0.384), rgba(0, 0, 0, 0.226));
                // background-color: rgba(255, 255, 255, 0.37);
                border: 2px solid #03e9f4;
                box-shadow: none;
                border-radius: 50px;
                font-weight: 500;
                margin-right: 12px;
                margin-bottom: 12px;
                width: 11vw;
                height: 7vh;
                // padding: 4px 12px;

                // .iconSocmed {
                //   margin-right: 5px;
                // }

                // @media screen and (max-width:600px) {
                //   .iconSocmed {
                //     // margin-right: 0;
                //   }
                // }
              }

              @media screen and (max-width:600px) {
                .btnOption {
                  width: 45%;
                  letter-spacing: 0;
                }
              }

              .selected {
                color: black;
                font-size: 13px;
                text-decoration: none;
                letter-spacing: 2px;
                background-color: #03e9f4;
                border: 2px solid #03e9f4;
                box-shadow: none;
                border-radius: 50px;
                font-weight: 500;
                margin-right: 12px;
                margin-bottom: 12px;
                width: 11vw;
                height: 7vh;

                // .iconSocmed {
                //   margin-right: 5px;
                // }
              }

              @media screen and (max-width:600px) {
                .selected {
                  width: 45%;
                  letter-spacing: 0;
                }
              }

              .btnOption:hover {
                background-color: #03e9f4;
                color: black;
              }
            }
          }

          @media screen and (max-width:600px) {
            .cardOptionLink {
              width: 100%;
            }
          }
        }

        .listLinkSide {
          height: 100vh;
          padding: 0;
          
          .cardFormLink {
            width: 455px;
            height: 90vh;
            color: white;
            background: linear-gradient(135deg, rgba(218, 218, 218, 0.788), rgba(255, 255, 255, 0.534));
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 15px;

            .titleCard {
              text-align: center;
              letter-spacing: 1px;
              color: black;
              margin-bottom: 25px;
            }

            .form {
              height: 80%;
              overflow: auto;
            }

            .Announcement {
              color: rgb(73, 73, 73);
              font-size: 14px;
              margin-top: 3px;
              margin-bottom: 0;
            }

            @media screen and (max-width:600px) {
              .Announcement {
                font-size: 12px;
              }
            }

            .btnNext {
              padding: 2px 7px;
              color: black;
              font-size: 14px;
              text-decoration: none;
              letter-spacing: 2px;
              background-color: #03e9f4;
              border: 2px solid #03e9f4;
              box-shadow: none;
              border-radius: 5px;
              margin-right: 10px;
              margin-top: 11px;
            }

            .btnNext:hover {
              background: transparent;
              border: 2px solid #03e9f4;
              color: #000000;
            }
          }

          @media screen and (max-width:600px) {
            .cardFormLink {
              width: 100vw;
              
            }
          }
        }

        @media screen and (max-width:600px) {
          .listLinkSide {
            width: 100%;
          }
        }
        // background-color: red;
      }

      @media screen and (max-width:600px) {
        .cardSetUp {
          width: 100%;
        }
        
        .cardSetUpDesc {
          width: 100%;
        }
      }

      .Announcement {
        color: white;
        font-size: 14px;
        margin-top: 3px;
      }

      @media screen and (max-width:600px) {
        .Announcement {
          font-size: 12px;
        }
      }
    }
  }
}